.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.box1 {
    flex: 10 5 400px;
}

.box2 {
    flex: 1 1 400px;
}

.box3 {
    flex: 2 2 400px;
}